export SOURCE_AUDIOBOOKS=~Audiobooks
export SOURCE_MUSIC=~/Music
export SOURCE_PODCASTS=~/Podcasts

export DEST_AUDIOBOOKS=/run/media/{user}/IPOD/Audiobooks
export DEST_MUSIC=/run/media/{user}/IPOD/Music
export DEST_PODCASTS=/run/media/{user}/IPOD/Podcasts
