export PLAYER_DIRECTORY=/run/media/lachlanh/IPOD/

export SOURCE_AUDIOBOOKS=~/Audiobooks/
export SOURCE_MUSIC=~/Music/
export SOURCE_PODCASTS=~/Podcasts/

export DEST_AUDIOBOOKS="$PLAYER_DIRECTORY/Audiobooks"
export DEST_MUSIC="$PLAYER_DIRECTORY/Music"
export DEST_PODCASTS="$PLAYER_DIRECTORY/Podcasts"
export DEST_VIDEO="$PLAYER_DIRECTORY/Youtube"
